{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create a study session</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <header>
        <h1>Create a Study Session</h1>
        <p>Welcome, {{ user.username }}</p>
        <a href="{% url 'home'%}" style="background-color: red;">Home</a>
    </header>
    <main>
        <form method="POST" action="{% url 'create_session' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Session</button>
        </form>
</body>
</html>