<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HuddleEd - Chat</title>
  <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">
        <h2>HuddleEd</h2>
        <!--Allows user to upload a pfp-->
       <a href="{% url 'profile' %}" alt="profile">Profile</a>
      </div>
      <div class="channels">
        <h3>Feed</h3>
        <ul>
          <li class="channel">Study Session</li>
          <li class="channel"><a href="{% url 'create_session' %}">Create xSession</a></li>
        </ul>
      </div>
    </aside>

    <!-- Chat Area -->
    <main class="chat-area">
      <header class="chat-header">
        <h2>Study Sessions Happening Now!</h2>
        <h3>
          {% if sessions_count > 0 %}
            {{ sessions_count }} study sessions available
          {% else %}
            No study sessions available
          {% endif %}
        </h3>
      </header>
      <section class="session">
        <ul>
          {% for session in sessions %}
            <li>
              <h4>{{ session.name }}</h4>
              <p>{{ session.description }}</p>
              <p><strong>Date:</strong> {{ session.date }}</p>
              <p><strong>Course:</strong> {{ session.course }}</p>
            </li>
          {% endfor %}
        </ul>
      </section>
    </main>
  </div>
</body>
</html>