<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header>
        <h1>Register</h1>
    </header>

    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {{ account.as_p }}
        <button type="submit">Register</button>
    </form>
    
    <div class="login-card">
        <p>Already have an account?</p>
        <h7><a href="{% url 'login' %}">Click here to login</a></h7>
    </div>
    
</body>
</html>